@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary-black: #07090a;
  --secondary-black: #1e2120;
  --dark-grey: #667075;
  --light-grey: #d3dce0;
  --red: #681b1b;
  --error: #ff4a4a;
  background-color: black;
  --font-family: 'Permanent Marker', cursive;
  
}
.App {  
  background-size:     cover;                   
  background-repeat:   no-repeat;
  background-position: center center; 
  background-attachment: fixed;
  min-width: 100vw;
  min-height: 100vh;
  overscroll-behavior: contain;
  
}

  .text-box{
  background-color: var(--secondary-black);
  box-shadow: 0px 0px 20px 10px var(--red);
  width: 80%;
  max-width: 960px;
}


/* base styles & title */
body{
  font-family: "Noto Serif";
  background-color: transparent;
  margin: 0;
}
header{
  width: 100%;
  min-height: 60vh;
   display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  background-color: var(--primary-black);
  min-height: 10vh;
}
.content-body{
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.title {
  max-width: 960px;
  align-items: center;
  height: 333px;
  display: flex;
  justify-content: space-between;
  margin: 20vh 0 60vh 0;
  transform: translate(-0%, 40%)
}
.title h2, h2{
  color: var(--light-grey);
  text-align: center;
  font-family: var(--font-family);
}
.title h2{
  font-size: 3rem;
  margin: 0;
  float: right;
  height: inherit;
  flex-grow: 3;
  position: absolute;
  top: 70%;
  left: 70%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.title img {
  margin: 20px 20px 20px 50px;
  border-radius: 50%;
  width: 30%;
}

/* upload form styles */
form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  background: var(--primary);
  color: white;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

/* progress bar styles */

/* image grid styles */
.img-grid{
  /* margin: 20px auto; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: visible;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 5px solid --red;
}

.navbar {
  width: 100%;
  background-color: var(--primary-black);
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-family: var(--font-family);
}

/* Navbar links */
.navbar a {
  float: right;
  text-align: center;
  padding: 12px;
  color: var(--light-grey);
  text-decoration: none;
}
.projectName {
  font-size: 2rem;
  color: var(--light-grey);
  margin: 8px;
}

/* Navbar links on mouse-over */

.navbar a:hover {
  background-color: var(--dark-grey);
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 400 pixels */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.token-info, .team-info{
  margin: 0px 0px 40px 0;
  width: 100%;
  color: var(--light-grey);
  text-align: justify;
  font-size: 1rem;
  max-width: 960px;

}
.token-info p {
  padding: 15px;
}
